* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
header{
    background-color: #1a131a;
}
li {
    list-style: none;
}
.d-a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    transition: 0.2s;
}
.d-a:hover {
    color: #cd94ee;
    padding-bottom: 2px;
    border-bottom: solid #cd94ee 1px;
}
.active{
    color: #cd94ee;
    padding-bottom: 2px;
    border-bottom: solid #cd94ee 1px;
}

/* HEADER */

header {
    position: relative;
    padding: 0.2rem;
}
.navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .links{
    display: flex;
    gap: 1.5rem ;
}
.navbar .toggle_btn {
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}
.size{
    font-size: 30px;
}
/* Dropdown Menu */

.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    height: 0;
    top: 60px;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.151);
    backdrop-filter: blur(11px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    z-index: 3;
}
.dropdown_menu.open{
    height: 240px;
}
.dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.my-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
@media(max-width: 992px){
    .navbar .links {
        display: none;
    }
    .navbar .toggle_btn {
        display: block;
    }
    .dropdown_menu {
        display: block;
    }
    .size{
        font-size: 20px;
    }
}
@media(max-width: 600px){
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }
}
/* BLOG */
.header {
    height: 50vh;
    background-image: url(240434230_4227969487294199_6133304083952782381_n.jpg);
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
}
.container{
    display: flex;
    align-items: center;
    height: 50vh;
}
.my-margin{
    margin-left: 60px;
}
.size{
    font-size: 30px;
}

.text-box {
    position: absolute;
}
.text-box h1{
    color: transparent;
    -webkit-text-stroke: 2px #fff;
}

.travel-slider{
    background-color: #eaeaea;
    /* overflow: ; */
}
.container-2{
    position: relative;
    /* left:50%;
    top:100%;  */
    /* transform: translate(-50%,-50%); */
    width: 500px;
    height:300px;
    padding:50px;
    background-color: #f5f5f5;
    box-shadow: 0 10px 20px #dbdbdb;
}
#slide{
    width:max-content;
    margin-top:50px;
}
.item{
    width:100px;
    height:150px;
    background-position: 50% 50%;
    display: inline-block;
    transition: 0.5s;
    background-size: cover;
    position: absolute;
    z-index: 1;
    top:50%;
    transform: translate(0,-50%);
    border-radius: 20px;
    box-shadow:  0 30px 50px #505050;
}
.item:nth-child(1),
.item:nth-child(2){
    left:0;
    top:0;
    transform: translate(0,0);
    border-radius: 0;
    width:100%;
    height:100%;
    box-shadow: none;
}
.item:nth-child(3){
    left:50%;
}
.item:nth-child(4){
    left:calc(50% + 120px);
}
.item:nth-child(5){
    left:calc(50% + 240px);
}
.item:nth-child(n+6){
    left:calc(50% + 360px);
    opacity: 0;
}
.item .content{
    position: absolute;
    top:50%;
    left:50px;
    width:300px;
    text-align: left;
    padding:0;
    color:#eee;
    transform: translate(0,-50%);
    display: none;
    font-family: system-ui;
}
.item:nth-child(2) .content{
    display: block;
    z-index: 11111;
}
.item .name{
    font-size: 25px;
    font-weight: bold;
    opacity: 0;
    animation:showcontent 1s ease-in-out 1 forwards
}
.item .des{
    margin:5px 0;
    opacity: 0;
    animation:showcontent 1s ease-in-out 0.3s 1 forwards
}
.item button{
    padding:10px 20px;
    background-color: #dbdbdb;
    border:none;
    border-radius: 10px;
    opacity: 0;
    animation:showcontent 1s ease-in-out 0.6s 1 forwards
}
@keyframes showcontent{
    from{
        opacity: 0;
        transform: translate(0,100px);
        filter:blur(33px);
    }to{
        opacity: 1;
        transform: translate(0,0);
        filter:blur(0);
    }
}

.buttons{
    position: relative;
    /* bottom:30px; */
    z-index: 222222;
    text-align: center;
    width:100%;
    padding-top: 20px;
}
.buttons button{
    /* padding-top: 10px; */
    width:50px;
    height:50px;
    /* left: 50%; */
    border-radius: 50%;
    border:1px solid #555;
    transition: 0.5s;
}.buttons button:hover{
    background-color: #bac383;
}

/* ********************FOOTERRRRR****************** */
.footer-distributed {
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: normal 16px sans-serif;
    padding: 45px 50px;
  }
  
  .footer-distributed .footer-left p {
    color: #8f9296;
    font-size: 14px;
    margin: 0;
  }
  /* Footer links */
  
  .footer-distributed p.footer-links {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    margin: 0 0 10px;
    padding: 0;
    transition: ease .25s;
  }
  
  .footer-distributed p.footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
    transition: ease .25s;
  }
  
  .footer-distributed .footer-links a:before {
    content: "·";
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;
  }
  
  .footer-distributed .footer-links .link-1:before {
    content: none;
  }
  
  .footer-distributed .footer-right {
    float: right;
    margin-top: 6px;
    max-width: 180px;
  }
  
  .footer-distributed .footer-right a {
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-left: 3px;
    transition:all .25s;
  }
  
  .footer-distributed .footer-right a:hover{transform:scale(1.1); -webkit-transform:scale(1.1);}
  
  .footer-distributed p.footer-links a:hover{text-decoration:underline;}
  
  /* Media Queries */
  
  @media (max-width: 900px) {
    .footer-distributed .footer-left, .footer-distributed .footer-right {
      text-align: center;
    }
    .footer-distributed .footer-right {
      float: none;
      margin: 0 auto 20px;
    }
    .footer-distributed .footer-left p.footer-links {
      line-height: 1.8;
    }
    .navbar .links {
        display: none;
    }
    .navbar .toggle_btn {
        display: block;
    }
    .dropdown_menu {
        display: block;
    }
    .container{
        justify-content: center;
    }
    .my-display{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .my-margin{
        margin-left: 0;
    }
    .size{
        font-size: 20px;
    }
    .size-2{
        font-size: 18px;
    }
    .holiday{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
        gap: 10px;
    }
    .holiday-text{
        padding-top: 10px;
        text-align: center;
    }
    .box h6{
        left: 155px;
    }
    .box h4{
        position: absolute;
        left: 155px;
        bottom: 65px;
        font-size: 26px;
        font-weight: 700;
        color: #fff;
    }
    .culture{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
        gap: 10px;
    }
    .culture-text{
        padding-top: 10px;
        text-align: center;
    }
    .travel-slider{
        background-color: #eaeaea;
        /* overflow: ; */
    }
    .container-2{
        position: relative;
        /* left:50%;
        top:100%;  */
        /* transform: translate(-50%,-50%); */
        width: 350px;
        height:250px;
        padding:50px;
        background-color: #f5f5f5;
        box-shadow: 0 10px 20px #dbdbdb;
    }
    #slide{
        width:max-content;
        margin-top:50px;
    }
    .item{
        width:50px;
        height:105px;
        background-position: 50% 50%;
        display: block;
        transition: 0.5s;
        background-size: cover;
        position: absolute;
        z-index: 1;
        top:50%;
        transform: translate(0,-50%);
        border-radius: 20px;
        box-shadow:  0 30px 50px #505050;
    }
    .item:nth-child(1),
    .item:nth-child(2){
        left:0;
        top:0;
        transform: translate(0,0);
        border-radius: 0;
        width:100%;
        height:100%;
        box-shadow: none;
    }
    .item:nth-child(3){
        left:50%;
    }
    .item:nth-child(4){
        left:calc(50% + 60px);
    }
    .item:nth-child(5){
        left:calc(50% + 120px);
    }
    .item:nth-child(n+6){
        display: none;
        left:calc(50% + 240px);
        opacity: 0;
    }
    .item .content{
        position: absolute;
        top:50%;
        left:10px;
        width:300px;
        text-align: left;
        padding:0;
        color:#eee;
        transform: translate(0,-50%);
        display: none;
        font-family: system-ui;
    }
    .item:nth-child(2) .content{
        display: none;
        z-index: 11111;
    }
    .item .name{
        font-size: 25px;
        font-weight: bold;
        opacity: 0;
        animation:showcontent 1s ease-in-out 1 forwards
    }
    .item .des{
        margin:5px 0;
        opacity: 0;
        animation:showcontent 1s ease-in-out 0.3s 1 forwards
    }
    .item button{
        padding:10px 20px;
        background-color: #dbdbdb;
        border:none;
        border-radius: 10px;
        opacity: 0;
        animation:showcontent 1s ease-in-out 0.6s 1 forwards
    }
    .buttons{
        position: relative;
        /* bottom:30px; */
        z-index: 222222;
        text-align: center;
        width:100%;
    }
    .buttons button{
        /* padding-top: 10px; */
        width:50px;
        height:50px;
        /* left: 50%; */
        border-radius: 50%;
        border:1px solid #555;
        transition: 0.5s;
    }.buttons button:hover{
        background-color: #bac383;
    }
  }