* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
header{
    background-color: #1a131a;
}
li {
    list-style: none;
}
.d-a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    transition: 0.2s;
}
.d-a:hover {
    color: #cd94ee;
    padding-bottom: 2px;
    border-bottom: solid #cd94ee 1px;
}
.active{
    color: #cd94ee;
    padding-bottom: 2px;
    border-bottom: solid #cd94ee 1px;
}

/* HEADER */

header {
    position: relative;
    padding: 0.2rem;
}
.navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .links{
    display: flex;
    gap: 1.5rem ;
}
.navbar .toggle_btn {
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}
.size{
    font-size: 30px;
}
/* Dropdown Menu */

.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    height: 0;
    top: 60px;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(11px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown_menu.open{
    height: 240px;
}
.dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.my-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
@media(max-width: 992px){
    .navbar .links {
        display: none;
    }
    .navbar .toggle_btn {
        display: block;
    }
    .dropdown_menu {
        display: block;
    }
    .size{
        font-size: 20px;
    }
}
@media(max-width: 600px){
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }
}
/* BLOG */
.card-content{
    display: flex;

}
.center{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* BLOG */

.feature-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, auto));
    align-items: center;
    text-align: center;
    gap: 3rem;
}
.row-img{
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    margin: 0 auto;
    margin-bottom: 20px;
    border-radius: 50%;
}
.row-img img{
    width: 100%;
    display: block;
    transition: transform 0.7s;
}
.row-img img:hover{
    transform: scale(1.2);
}
.feature-content h4{
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
    transition: all .50s ease;
}
.feature-content h4:hover{
    color: lightblue;
}
.holiday{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 10px;
}
.holiday-img img{
    /* width: 100%; */
    height: auto;
    border-radius: 10px;
}
.holiday-text h5{
    font-size: 22px;
    font-weight: 600;
    color: lightblue;
    text-transform: uppercase;
    letter-spacing: 6px;
    margin-bottom: 20px;
}
.holiday-text h2{
    font-size: 60px;
    font-weight: 800;
    line-height: 1.2;
    margin-bottom: 25px;
}
.holiday-text p{
    font-size: 20px;
    font-weight: 30px;
    line-height: 30px;
    color: #5e4f4cab;
    margin-bottom: 35px;
}
.text-center h2{
    font-size: 40px;
    font-weight: 800;
}
.tour-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

/* ********************FOOTERRRRR****************** */
.footer-distributed {
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: normal 16px sans-serif;
    padding: 45px 50px;
  }
  
  .footer-distributed .footer-left p {
    color: #8f9296;
    font-size: 14px;
    margin: 0;
  }
  /* Footer links */
  
  .footer-distributed p.footer-links {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    margin: 0 0 10px;
    padding: 0;
    transition: ease .25s;
  }
  
  .footer-distributed p.footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
    transition: ease .25s;
  }
  
  .footer-distributed .footer-links a:before {
    content: "·";
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;
  }
  
  .footer-distributed .footer-links .link-1:before {
    content: none;
  }
  
  .footer-distributed .footer-right {
    float: right;
    margin-top: 6px;
    max-width: 180px;
  }
  
  .footer-distributed .footer-right a {
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-left: 3px;
    transition:all .25s;
  }
  
  .footer-distributed .footer-right a:hover{transform:scale(1.1); -webkit-transform:scale(1.1);}
  
  .footer-distributed p.footer-links a:hover{text-decoration:underline;}
  
  /* Media Queries */
  
  @media (max-width: 600px) {
    .footer-distributed .footer-left, .footer-distributed .footer-right {
      text-align: center;
    }
    .footer-distributed .footer-right {
      float: none;
      margin: 0 auto 20px;
    }
    .footer-distributed .footer-left p.footer-links {
      line-height: 1.8;
    }
  }